/bin
/checkouts
/classes
/deploy
/ehcache.disk.store.dir
/lib
/media
/reports
/target
.checkstyle
.classpath
.externalToolBuilders
.idea
.lein-deps-sum
.lein-failures
.lein-plugins
.lein-repl-history
.nrepl-port
.pmd
.project
.ruleset
.settings
pom.xml
release.properties
*.class
*.log
*.jar
